<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <a href="/new">Add new user</a>
    <a href="/show">Show users</a>
    <a href="/search">Search for users</a>
    <a href="/delete">Delete a user</a>
</body>
</html>