<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search form</title>
</head>
<body>
    <form action="/searchUser" method="get">
        <label for="user">Search for a user</label>
            <input name="user" type="text" id="user">
            <button type="submit">Submit</button>
    </form>
</body>
</html>